body > header {
  @include background($header-bg-front $header-bg-back);
  @include box-shadow(0 1px 1px rgba(#fff, 0.4) inset);
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: 100;
    letter-spacing: 1px;
  }
}
