$img-border: inline-image('dotted-border.png');

// Main Link Colors
$link-color: #ff5049 !default;// #3b526b !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: $link-color; //adjust-color($link-color, $lightness: -4, $saturation: 0) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$main-bg: #e0e0e0 !default;
$page-bg: #e0e0e0 !default;
$article-border: #eeeeee !default;
$article-header-color: #525252;

$header-bg: #e4e4e4 !default;
$header-border: none !default;
$title-color: #594f47  !default;
$subtitle-color: #4d433d !default;

$text-color: #4d433d !default;
$text-color-light: #ff5049 !default; //#f7594d !default;//#507195 !default;
$type-border: #ddd !default;

/* Navigation */
$nav-bg: #e5e5e5 !default;
$nav-bg-front: #e0e0e0 !default;
$nav-bg-back: none !default;
$nav-color: darken($nav-bg, 38) !default;
$nav-color-hover: darken($nav-color, 25) !default;
$nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
$nav-border: darken($nav-bg, 10) !default;
$nav-border-top: none !default;
$nav-border-bottom: darken($nav-bg, 10) !default;
$nav-border-left: none !default;
$nav-border-right: none !default;

/* Sidebar colors */
$sidebar-bg: #e0e0e0 !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;

$footer-color: #888 !default;
$footer-bg: #e0e0e0 !default;
$footer-bg-front: none !default;
$footer-bg-back: none !default;
$footer-color: darken($footer-bg, 38) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: lighten($footer-bg, 5) !default;
$footer-border-bottom: darken($footer-bg, 15) !default;
$footer-link-color: darken($footer-bg, 38) !default;
$footer-link-color-hover: darken($footer-color, 25) !default;
$page-border-bottom: darken($footer-bg, 5) !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html {
  background: $page-bg;
}
body {
  > div {
    background: $sidebar-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg;
      //border-right: 1px solid $sidebar-border;
    }
  }
}


article ul li {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 8px;
  border-left: 8px solid #999;
}
