$logo-top-pos: 0px;

body > header {
  position: relative;
  text-align: center;
  text-shadow: 0 0 1px $header-bg, 0 0 1px $header-bg, 0 0 5px $header-bg, 0 0 5px $header-bg, 0 0 5px $header-bg, 0 0 5px $header-bg, 0 0 5px $header-bg;
  background: $header-bg image-url('circles.png') no-repeat;
  background-size: 132px 140px;
  opacity: 0.98;

  h1 {
    display: inline-block;
    margin: 0;
    font-style: normal;

    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: 100;
  }

  background-position: 50% ($logo-top-pos - 6px);
  @media only screen and (min-width: 480px) {
    background-position: 50% ($logo-top-pos - 6px);
  }
  @media only screen and (min-width: 768px) {
    background-position: 50% $logo-top-pos;
  }
  @media only screen and (min-width: 992px) {
    background-position: 50% $logo-top-pos;
  }
}
